<include file="Public/header" />
<div class="admin-biaogelist">
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 栏目名称</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 &gt; <a href="__CONTROLLER__/lst">栏目列表</a></dl>
    </div>
  
    <div class="fbneirong">
      <form class="am-form" action="__SELF__" method="post">
        <div class="am-form-group am-cf">
          <div class="zuo">栏目名称：</div>
          <div class="you">
            <input type="text" name="cate_name" value="{$cateInfo.cate_name}" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入栏目名称">
            <input type="hidden" name="cate_id" value="{$cateInfo.cate_id}">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">上级栏目：</div>
          <div class="you">
            <select name="cate_pid">
              <option value="0">请选择上级栏目</option>
              <volist name="cateData" id="vo">
                <if condition="!in_array($vo['cate_id'], $cateChildList)">
                <option value="{$vo.cate_id}" <?php echo $cateInfo['cate_pid']==$vo['cate_id']?'selected':'' ?> >{$vo.level|str_repeat='&emsp;',###*2 }{$vo.cate_name}</option>
                </if>
              </volist>
            </select>
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <button type="button" id="btnBack" class="am-btn am-btn-success am-round">返回</button>&nbsp;   &nbsp; <button type="submit" class="am-btn am-btn-secondary am-round">提交</button>
          </div>
        </div>
      </form>
    </div>
<script type="text/javascript">
    $('#btnBack').click(function(event) {
      window.location.href = '__CONTROLLER__/lst';
    });
</script>
<include file="Public/footer" />