<include file="Public/header" />

<div class="daohang">
      <ul>
        <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </li>
        <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li> 
      </ul>
</div>
  
<div class="admin">
    <div class="admin-index">
        <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}" class="am-scrollspy-init am-scrollspy-inview am-animation-slide-right">
            <dt class="qs"><i class="am-icon-users"></i></dt>
            <dd>455</dd>
            <dd class="f12">团队数量</dd>
        </dl>
        <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}" class="am-scrollspy-init am-scrollspy-inview am-animation-slide-right">
            <dt class="cs"><i class="am-icon-area-chart"></i></dt>
            <dd>455</dd>
            <dd class="f12">今日收入</dd>
        </dl>
        <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}" class="am-scrollspy-init am-scrollspy-inview am-animation-slide-right">
            <dt class="hs"><i class="am-icon-shopping-cart"></i></dt>
            <dd>455</dd>
            <dd class="f12">商品数量</dd>
        </dl>
        <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}" class="am-scrollspy-init am-scrollspy-inview am-animation-slide-right">
            <dt class="ls"><i class="am-icon-cny"></i></dt>
            <dd>455</dd>
            <dd class="f12">全部收入</dd>
        </dl>
    </div>
<include file="Public/footer" />