<include file="Public/header" />
<div class="admin-biaogelist">
  <form class="am-form" action="__SELF__" method="post" enctype="multipart/form-data">
    <div class="listbiaoti am-cf">
        <ul class="am-icon-flag on">
            商品管理
        </ul>
        <dl class="am-icon-home" style="float: right;">
            当前位置： 首页 &gt;
            <a href="#">
                添加商品
            </a>
        </dl>
    </div>
    <div class="am-tabs am-margin" data-am-tabs="">
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active">
                <a href="#tab1">
                    通用信息
                </a>
            </li>
            <li class="">
                <a href="#tab2">
                    详细描述
                </a>
            </li>
            <li class="">
                <a href="#tab3">
                    商品属性
                </a>
            </li>
            <li class="">
                <a href="#tab4">
                    商品相册
                </a>
            </li>
            <li class="">
                <a href="#tab5">
                    其他信息
                </a>
            </li>
        </ul>
        <div class="am-tabs-bd" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="am-tab-panel am-fade am-active am-in" id="tab1">
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      商品名称
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <input type="text" name="goods_name" value="{$goodsInfo.goods_name}" id="doc-vld-name-1" minlength="3" placeholder="输入商品名称" class="am-form-field">
                      <input type="hidden" name="goods_id" value="{$goodsInfo.goods_id}">
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      商品货号
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <input type="text" name="goods_sn" value="{$goodsInfo.goods_sn}" id="doc-vld-name-1" placeholder="输入商品货号，如果您不输入系统会自动生成一个唯一货号" class="am-form-field" >
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      所属栏目
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <select name="cate_id">
                          <option value="0">请选择商品类型</option>
                          <volist name="cateData" id="vo">
                            <option value="{$vo.cate_id}" <?php echo $vo['cate_id'] == $goodsInfo['cate_id']?'selected':'' ?> ><?php echo str_repeat('&nbsp;',$vo['level']*5); ?>{$vo.cate_name}</option>
                          </volist>
                        </select>
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      商品库存
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <input type="text" name="goods_number" value="{$goodsInfo.goods_number}" id="doc-vld-name-1" class="am-form-field" required="">
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      商品价格
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <input type="text" name="goods_price" value="{$goodsInfo.goods_price}" id="doc-vld-name-1" minlength="1" class="am-form-field" required="">
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      是否上架
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <label class="am-radio-inline"><input type="radio" checked value="1" name="is_sale"> 是</label>
                      <label class="am-radio-inline"><input type="radio" <?php echo $goodsInfo['is_sale']?'':'checked' ?> value="1" name="is_sale"> 否</label>
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      是否新品
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <label class="am-radio-inline"><input type="radio" checked value="1" name="is_new"> 是</label>
                      <label class="am-radio-inline"><input type="radio" <?php echo $goodsInfo['is_new']?'':'checked' ?> value="1" name="is_new"> 否</label>
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      是否精品
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <label class="am-radio-inline"><input type="radio" checked value="1" name="is_best"> 是</label>
                      <label class="am-radio-inline"><input type="radio" <?php echo $goodsInfo['is_best']?'':'checked' ?> value="1" name="is_best"> 否</label>
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      是否热销
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <label class="am-radio-inline"><input type="radio" checked value="1" name="is_hot"> 是</label>
                      <label class="am-radio-inline"><input type="radio" <?php echo $goodsInfo['is_hot']?'':'checked' ?>  value="1" name="is_hot"> 否</label>
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      添加时间
                    </div>
                    <div class="you" style="width: 40%;float:left;margin-left:20px;">
                      <input type="text" id="demo" name="add_time" value="{$goodsInfo.add_time|Date='Y-m-d H:i:s',###}"  placeholder="请点击选择添加时间" class="am-form-field" >
                    </div>
                </div>
            </div>
            <div class="am-tab-panel am-fade" id="tab2">
                    <div class="am-g am-margin-top">
                    <!-- <div class="am-u-sm-4 am-u-md-2 am-text-right">
                      描述<textarea name="goods_descp" rows="5" id="doc-ta-1"></textarea>
                    </div> -->
                    <div class="you" style="width: 100%;float:left;margin:0 20px;">
                      <script id="editor" name="goods_descp" type="text/plain" style="width:100%;height:500px;">{$goodsInfo.goods_descp}</script>
                    </div>
                </div>
            </div>
            <div class="am-tab-panel am-fade" id="tab3">
                    <div class="xitong">
                        <div class="am-form-group">
                            <div class="zuo">
                                发件人：
                            </div>
                            <div class="you" style="max-width: 300px;">
                                <select name="type_id" id="type_select">
                                  <option value="0">请选择商品类型</option>
                                  <volist name="typeData" id="vo">
                                    <option value="{$vo.type_id}" <?php echo $vo['type_id']==$goodsInfo['type_id']?'selected':''; ?>>{$vo.type_name}</option>
                                  </volist>
                                </select>
                            </div>
                        </div>
                        <div id="attr_container"></div>
                    </div>
            </div>
            <div class="am-tab-panel am-fade" id="tab4">
                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            商品图片
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <input type="file" class="am-input-sm" name="goods_img">
                        </div>
                    </div>
                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            原图片
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <img src="<?php echo  C('VIEW_ROOT_PATH') . $goodsInfo['goods_thumb'];?>">
                        </div>
                    </div>

            </div>
            <div class="am-tab-panel am-fade" id="tab5">
                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            SEO 标题
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <input type="text" class="am-input-sm">
                        </div>
                    </div>
                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            SEO 关键字
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <input type="text" class="am-input-sm">
                        </div>
                    </div>
                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            SEO 描述
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <textarea rows="4">
                            </textarea>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="am-margin">
        <button type="submit" class="am-btn am-btn-success am-radius ">
            提交保存
        </button>
        <button type="button" class="am-btn am-btn-primary am-radius ">
            放弃保存
        </button>
    </div>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/laydate.js"></script>
<script type="text/javascript">
// obj代表当前这个DOM元素
    function copy_row(obj) {
        // 先找一下a的父亲，就是一个li 也就是一个属性
        var _cur_li = $(obj).parent();
        if( _cur_li.find('a').html() == '[+]' ){
            var _new_li = _cur_li.clone(); // 新生成的li里面要变成[-]
            _new_li.find('a').html('[-]');
            _cur_li.after(_new_li); // 追加到当前之后

        }else{
            _cur_li.remove();
        }
    }
    //发送ajax请求获取对应商品的属性值
    var goods_id = <?php echo $goodsInfo['goods_id'];?>
    // 1. 先生成对应商品的属性框，先不要填值
    // 2. 把对应值进行填充处理
    $.ajax({
        url: '__CONTROLLER__/getGoodsAttr',
        type: 'GET',
        dataType: 'json',
        data:{'goods_id' : goods_id},
        success:function(json){
            // 处理返回的对应的商品属性值 [{},{},{}]
            if(json.sign != 0){
                return false;
            }
            var _html = "";
            var _i = 0; // 记录变量
            var _status = ''; // 状态法 标记
            $.each(json.data, function(index, val) {
                _html += '<div class="am-form-group">';
                if(val['attr_type'] == 0){
                    // 单选  对于单选属性的第一个默认应该是[+] 后面的应该都是[-]
                    if( _i == 0 ){
                        // 颜色
                         _html += "<a href='javascript:;' onclick='copy_row(this);'>[+]</a>";
                         _status = val['attr_name']; // 设置标记
                         _i++;
                    }else{
                        // 颜色
                        // 第二次进来，另外的一个属性 1. 和第一次出现的属性是同一个 2. 和上一个出现不同
                        if(val['attr_name'] != _status){
                            // 新增属性
                             _html += "<a href='javascript:;' onclick='copy_row(this);'>[+]</a>";
                             _status = val['attr_name']; // 状态置新
                        }else{ 
                            // 默认不是新增属性
                            _html += "<a href='javascript:;' onclick='copy_row(this);'>[-]</a>";
                            _i++;
                        }
                    }
                }
                _html += '<div class="zuo">' + val['attr_name'] + '：</div>';
                // 右侧的
                _html += '<div class="you" style="max-width: 300px;">';

                if(val['attr_input_type'] == 0){
                    // 单选
                    var _val = val['attr_values'].split(',');
                    _html += "<select name='goods_attr[" + val['attr_id'] +"][]'>";
                    // 属性可选值
                    $.each(_val, function(index1, val1) {
                        if(val['goods_attr_values'] == val1){
                            _html += "<option selected value='" + val1 + "'>" + val1 + "</option>";
                        }else{
                            _html += "<option value='" + val1 + "'>" + val1 + "</option>";
                        }
                    });
                    _html += "</select>";
                }else{
                    // 手工
                    _html += "<input type='text' name='goods_attr[" + val['attr_id'] +"]' value='" + val['goods_attr_values'] + "' />"; // goods_attr_values商品值
                }
                _html += "</div></div>";
            });
            $("#attr_container").html(_html).parent().show();
        }
    });
    // ueditor编辑器
    var ue = UE.getEditor('editor');

    $('#btnBack').click(function(event) {
      window.location.href = '__CONTROLLER__/lst';
    });

  laydate({
            elem: '#demo',
            istime: true,
            format: 'YYYY-MM-DD hh:mm:ss',
        });
</script>
<include file="Public/footer" />