<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>找回密码</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__PUBLIC__/Home/AmazeUI-2.4.2/assets/css/amazeui.css" />
		<link href="__PUBLIC__/Home/css/dlstyle.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<div class="login-boxtitle">
			<a href="home.html"><img alt="logo" src="__PUBLIC__/Home/images/logobig.png" /></a>
		</div>

		<div class="login-banner">
			<div class="login-main">
				<div class="login-banner-bg"><span></span><img src="__PUBLIC__/Home/images/big.jpg" /></div>
				<div class="login-box">

							<h3 class="title">找回密码</h3>

							<div class="clear"></div>
						
						<div class="login-form">
						  <form>
							   <div class="user-name">
								    <label for="user"><i class="am-icon-user"></i></label>
								    <input type="text" name="" id="user" placeholder="请输入邮箱地址">
                 </div>
                 <div class="user-pass">
				    <label for="password"><i class="am-icon-lock"></i></label>
				    <input type="password" name="" id="password" placeholder="验证码">
				    <button type="button" class="am-btn am-btn-secondary am-round">获取验证码</button>

                 </div>
              </form>
           </div>
            
            <div class="login-links">
								<a href="__CONTROLLER__/register" class="zcnext am-fr am-btn-default">注册</a>
            </div><br>
								<div class="am-cf">
									<input type="submit" name="" value="下一步" class="am-btn am-btn-primary am-btn-sm">
								</div>

				</div>
			</div>
		</div>


					<div class="footer ">
						<div class="footer-hd ">
							<p>
								<a href="# ">恒望科技</a>
								<b>|</b>
								<a href="# ">商城首页</a>
								<b>|</b>
								<a href="# ">支付宝</a>
								<b>|</b>
								<a href="# ">物流</a>
							</p>
						</div>
						<div class="footer-bd ">
							<p>
								<a href="# ">关于恒望</a>
								<a href="# ">合作伙伴</a>
								<a href="# ">联系我们</a>
								<a href="# ">网站地图</a>
								<em>© 2015-2025 Hengwang.com 版权所有</em>
							</p>
						</div>
					</div>
	</body>

</html>